<html>
    <head>
        <title>Rank of {{ quiz_profile.user }} is {{ rank }} in Online Quiz - Prakriti'11, Agri and Food Innovation Camp, IIT Kharagpur</title>
    </head>
    <meta name="description" content="Status of {{ quiz_profile.user }} in Online Quiz : Rank -  {{ rank }} in {{ players_count }}, Score - {{ quiz_profile.total_score }}, Total time spent for answering - {{ quiz_profile.total_time }} seconds, No. of Questions attempted - {{ quiz_profile.total_attempts }}. Want to beat {{ quiz_profile.user }} , Please visit http//www.prkt.in/quiz/">
    <body>
    </body>
</html>
